.MainInput__container {
    background-color: $pure-white;
    max-width: $desk-start;
    margin: 0 auto $base-spacing;
    position: relative;

    :global(.tox-statusbar__wordcount) {
        display: none;
    }

    :global(.tox-statusbar__help-text) {
        display: none;
    }
}